### Lab8
### Date : 21/10/2022
### Exer 1: Collaborative Filtering
### Name : Kartabya Krishna
### RegNo : 210968244
### Batch : 4

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### 1. Read about the movielens dataset and write down a summary of metadata

In [6]:
# Reading Datasets 
df1=pd.read_csv("movies.csv")
df2=pd.read_csv("ratings.csv")
df3=pd.read_csv("links.csv")
df4=pd.read_csv("tags.csv")

In [7]:
print('Info about movies dataset: ')
print('')
df1.info()

print('')
print('Info about ratings dataset: ')
print('')
df2.info()

print('')
print('Info about links dataset: ')
print('')
df3.info()

print('')
print('Info about tags dataset: ')
print('')
df4.info()

Info about movies dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

Info about ratings dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

Info about links dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

Info about tags dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

# User-Based Similarity
### 2. Read the “ratings.csv” file and create a pivot table with index=‘userId’, columns=‘movieId’, values = “rating.

In [12]:
df2=pd.read_csv("ratings.csv")
ratingPivot = pd.DataFrame(pd.pivot_table(df2,index='userId', columns='movieId', values = 'rating', fill_value = 0))
ratingPivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [13]:
df2.rating.unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

### 3. sklearn.metrics.pairwise_distances can be used to compute distance between all pairs of users. pairwise_distances() takes a metric parameter for what distance measure to use. Use cosine similarity for finding similarity among users. Use the following packages.

In [14]:
#4 
from sklearn.metrics import pairwise_distances
#5
from scipy.spatial.distance import cosine, correlation

In [18]:
distMat = pairwise_distances(ratingPivot, metric='cosine')

### 6. Find the 5 most similar user for user with user Id 25.

In [20]:
print('5 most similar users to userId 25 are: ')
print((distMat[24]).argsort()[1:6]+1)

5 most similar users to userId 25 are:
[189 209 407  30 515]

### 7. Use the “movies” dataset to find out the names of movies, user 1 and user 338 have watched in common and how they have rated each one of them.

In [21]:
x=set(df2['movieId'].loc[df2['userId']==1]).intersection(set(df2['movieId'].loc[df2['userId']==338]))
x

{50, 296, 527, 593, 2959}

In [22]:
print('Movie ID 50: ', df1.loc[df1.movieId==50, 'title'].values[0])
print('Rating by User 1: ', df2.loc[((df2.userId==1) & (df2.movieId==50)), 'rating'].values[0])
print('Rating by User 338: ', df2.loc[((df2.userId==338) & (df2.movieId==50)), 'rating'].values[0])
print()
print('Movie ID 296: ', df1.loc[df1.movieId==296, 'title'].values[0])
print('Rating by User 1: ', df2.loc[((df2.userId==1) & (df2.movieId==296)), 'rating'].values[0])
print('Rating by User 338: ', df2.loc[((df2.userId==338) & (df2.movieId==296)), 'rating'].values[0])
print()
print('Movie ID 527: ', df1.loc[df1.movieId==527, 'title'].values[0])
print('Rating by User 1: ', df2.loc[((df2.userId==1) & (df2.movieId==527)), 'rating'].values[0])
print('Rating by User 338: ', df2.loc[((df2.userId==338) & (df2.movieId==527)), 'rating'].values[0])
print()
print('Movie ID 593: ', df1.loc[df1.movieId==593, 'title'].values[0])
print('Rating by User 1: ', df2.loc[((df2.userId==1) & (df2.movieId==593)), 'rating'].values[0])
print('Rating by User 338: ', df2.loc[((df2.userId==338) & (df2.movieId==593)), 'rating'].values[0])
print()
print('Movie ID 2959: ', df1.loc[df1.movieId==2959, 'title'].values[0])
print('Rating by User 1: ', df2.loc[((df2.userId==1) & (df2.movieId==2959)), 'rating'].values[0])
print('Rating by User 338: ', df2.loc[((df2.userId==338) & (df2.movieId==2959)), 'rating'].values[0])

Movie ID 50:  Usual Suspects, The (1995)
Rating by User 1:  5.0
Rating by User 338:  4.5

Movie ID 296:  Pulp Fiction (1994)
Rating by User 1:  3.0
Rating by User 338:  4.5

Movie ID 527:  Schindler's List (1993)
Rating by User 1:  5.0
Rating by User 338:  5.0

Movie ID 593:  Silence of the Lambs, The (1991)
Rating by User 1:  4.0
Rating by User 338:  4.0

Movie ID 2959:  Fight Club (1999)
Rating by User 1:  5.0
Rating by User 338:  4.5

### 8. Use the movies dataset to find out the common movie names between user 2 and user 338 with least rating of 4.0

In [23]:
x=set(df2['movieId'].loc[(df2['userId']==2) & (df2['rating']>=4.0)]).intersection(set(df2['movieId'].loc[(df2['userId']==338) & (df2['rating']>=4.0)]))
x

{6874}

In [24]:
print('Movie ID 6874: ', df1.loc[df1.movieId==6874, 'title'].values[0])

Movie ID 6874:  Kill Bill: Vol. 1 (2003)

# Item-Based Similarity
### 9. Create a pivot table for representing the similarity among movies using correlation.

In [26]:
df = df2.merge(df1, on='movieId')
df = pd.DataFrame(pd.pivot_table(df, index='title', columns='userId', values='rating', fill_value=0))
df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,4.0
'Hellboy': The Seeds of Creation (2004),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Round Midnight (1986),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Salem's Lot (2004),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
'Til There Was You (1997),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,5,0,0.0,0.0,0,4.5,0,0.0
xXx (2002),0,0.0,0.0,0,0,0,0.0,0,1,0.0,...,0.0,0,0,0,0.0,0.0,0,3.5,0,2.0
xXx: State of the Union (2005),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,1.5
¡Three Amigos! (1986),4,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0
À nous la liberté (Freedom for Us) (1931),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0

### 10. Find the top 5 movies which are similar to the movie “Godfather”.

In [33]:
distMat2 = pairwise_distances(df, metric='correlation')
df[df.index.str.contains('Godfather')]

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
"Godfather, The (1972)",0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,5.0,0,5,0,0.0,4.0,4,5.0,0,5.0
"Godfather: Part II, The (1974)",0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,4.5,0,5,0,0.0,4.0,0,4.5,0,5.0
"Godfather: Part III, The (1990)",0,0.0,0.0,0,0,0,0.0,0,3,0.0,...,0.0,0,2,0,0.0,0.0,0,4.5,0,0.0
The Godfather Trilogy: 1972-1990 (1992),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,4.5,0,0,0,0.0,0.0,0,0.0,0,0.0
Tokyo Godfathers (2003),0,0.0,0.0,0,0,0,0.0,0,0,0.0,...,0.0,0,0,0,0.0,0.0,0,0.0,0,0.0

In [34]:
Indices = list(df.index) 
Indices.index('Godfather, The (1972)')

3499

In [36]:
likeGodfather = (distMat2[3499].argsort()[1:6])
print('Top 5 movies which are similar to the movie “Godfather”: ')
print()
for i in likeGodfather:
  print(Indices[i])

top 5 movies which are similar to the movie “Godfather”:

Godfather: Part II, The (1974)
Goodfellas (1990)
One Flew Over the Cuckoo's Nest (1975)
Reservoir Dogs (1992)
Fargo (1996)